
<div class="card">

    <div class="card-title">
        <h1>Cadastro de categorias</h1>
    </div>

    <form class="form-group" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="detail-action example-form-fields ">
        <button  routerLink="/category">Voltar</button>
        <button  type="submit">Salvar</button>
        <button  type="button" (click)="onDelete()" *ngIf="!isNewRecord()">Excluir</button>
      </div>
      <mat-form-field >
        <mat-label>Categoria2</mat-label>
        <input matInput formControlName="name" placeholder="Insira o nome da categoria" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" placeholder="Insira uma descrição para esta categoria" ></textarea>
      </mat-form-field>

    
     
  </form>

 
  </div> 
